node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
dist
coverage
.env
.env.*
!/.env.docker
.git
.gitignore
.dockerignore
Dockerfile
README.md

# Arquivos de teste e configuração de teste
src/**/*.spec.ts
src/**/*.e2e-spec.ts
test/
jest.config.js

# Arquivos de desenvolvimento local
.vscode/
*.DS_Store
